
:root {
    --white-color: white;
    --blue-color: rgb(33, 158, 242);
    --background-gray: rgb(219, 227, 233);
    --font-white: white;
    --font-gray: rgb(137, 135, 135);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.left-sidebar {
    grid-area: 1/1/3/2;
    /* border: 3px solid yellow; */
    background-color: var(--blue-color);
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    padding-left: 20px;
}

.left-sidebar-branding {
    grid-row: 1/2;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.left-sidebar-branding-h1 {
    font-size: 25px;
    color: var(--font-white);
    font-weight: bold;
}

.left-sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.left-sidebar-nav-menu {
    /* border: 1px solid red; */
    grid-row: 1/span 6;

}

.left-sidebar-support-menu {
    /* border: 1px solid red; */
    grid-row: 1/span 3;

}

.left-sidebar-menu li {
    margin: 20px 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--font-white);
    /* border: 1px solid red; */
    display: flex;
}

.left-sidebar-menu img {
    height: 24px;
    width: 24px;
    margin-right: 15px;
}

.container-right {
    grid-area: 1/2/3/3;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-rows: 1fr/4fr;
}

.header {
    /* border: 2px solid greenyellow; */
    grid-row: 1/span 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-left: 15px;
    padding-right: 50px;
    gap: 10px;
}

.header-upper {
    display: flex;
    /* border: 2px solid greenyellow; */
    grid-row: 1/2;
    margin-top: 15px;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.header-upper img {
    height: 25px;
    width: 25px;
}

.header-upper-search {
    display: flex;
}

#query {
    background-color: var(--background-gray);
    border: 0px;
    border-radius: 10px;
    width: 500px;
    height: 25px;
}

.header-upper-profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

#header-upper-profile-icon {
    height: 40px;
    width: 40px;
}

.header-upper-profile-user {
    font-weight: 600;
}

.header-lower {
    grid-row: 2/3;
    display: flex;
    /* border: 2px solid greenyellow; */
    align-items: center;
    justify-content: space-between;
}

.header-lower-profile {
    display: flex;
    gap: 10px;
}

.header-lower img {
    height: 80px;
    width: auto;
}

.header-lower-legend {
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
}

.header-lower-legend p:nth-child(2) {
    font-size: 20px;
}

.header-lower-buttons {
    display: flex;
    gap: 25px;
    /* border: 1px solid red; */
}

.header-lower-buttons button {
    background-color: var(--blue-color);
    color: var(--font-white);
    font-weight: 600;
    height: 33px;
    width: 80px;
    border-radius: 15px;
    border: 0;
}

.main-content {
    background-color: var(--background-gray);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}


.projects {
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.projects h2, .right-sidebar h2 {
    font-size: 20px;
    font-weight: 600;
}   

.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(autofit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 10px;
    margin-right: 15px;
    /* border: 1px solid red; */
    height: 100%;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    border-left: 5px solid orange;
}

.card, .right-sidebar-announcements-container, .right-sidebar-trending-container {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
    background-color: var(--white-color);

}

.card h3 {
    font-size: 18px;
    font-weight: 600;
}

.card p {
    color: var(--font-gray);
}

.card-text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 2px solid red; */
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 50px;
}

.card-img-container {
    display: flex;
    align-self: flex-end;
    justify-content: end;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;
}

.card > img {
    height: 20px;
    width: 20px;
}

.right-sidebar {
    grid-row: 1 / span 1;
    grid-column: 2/3;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* border: 2px solid greenyellow; */

}

.right-sidebar-announcements-container, .right-sidebar-trending-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
}

.right-sidebar-announcements-container {
    padding-top: 30px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 10px;
    gap: 20px; */
}

.right-sidebar-announcements-container-section, .right-sidebar-trending-container-section {
    margin: auto 20px;
    padding-bottom: 20px;
}

.right-sidebar-announcements-container-section:not(:last-child) {
    border-bottom: 2px solid var(--background-gray);
}

.right-sidebar-announcements-container-section p {
    color: var(--font-gray);
}

.right-sidebar-announcements-container-section h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

.right-sidebar-trending h2 {
    margin-top: 30px;
}

.right-sidebar-trending-container {
    /* border: 1px solid red; */
    padding-top: 20px;
}

.right-sidebar-trending-container-section {
   display: flex;
   align-items: center;
   gap: 15px;
}

.right-sidebar-trending-container-section-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right-sidebar-trending-container-section-text h4 {
    font-size: 18px;
}

.right-sidebar-trending-container-section-text p {
    color: var(--font-gray);
}

